#!/usr/local/bin/3proxy
#config /etc/3proxy/3proxy.cfg
nserver 8.8.8.8
nserver 8.8.4.4

nscache 65536
timeouts 1 5 30 60 180 1800 15 60

users login:CL:password

# путь к логам и формат лога, к имени лога будет добавляться дата создания
#

log /var/log/3proxy/3proxy.log D
logformat "- +_L%t.%.  %N.%p %E %U %C:%c %R:%r %O %I %h %T"


# хранить их 30 дней

rotate 30

auth strong

socks -p8080
#admin -p8081
proxy -n -a -p3128
